@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --red--: hsl(0, 100%, 74%); 
   --green--: hsl(154, 59%, 51%);
   --blue--: hsl(248, 32%, 49%);
   --dark-blue--: hsl(249, 10%, 26%);
   --grayish-blue--: hsl(246, 25%, 77%);
}
body {
    font-family: 'Poppins', sans-serif;
    background: var(--red--) url(./images/bg-intro-desktop.png) no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    font-size: 16px;
    align-items: center;
}
.container {
    max-width: 1200px;
    margin: 0 50px;

}
.wrapper {
    display: grid;
    grid-template-columns: 505px 531px;
}
.learn__box {
    padding: 10px 39px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.learn__title {
color: #fff;

}
.learn__box p {
    color: #fff;
}
.free__box {
    background: var(--blue--);
    padding: 10px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    font-size: 12px;
}
.login__box {
    padding: 17px 15px 30px 15px;
    background: #fff;
    margin-top: 16px;
    border-radius: 5px;
}
.form__box {
    margin: 18px 50px;
}
form {
    display: flex;
    flex-direction: column;
}
form input:invalid {
    background: url(./images/icon-error.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: calc(100% - 3%);
}
input {
    padding: 12px 15px;
    margin: 9px 20px;
    border-radius: 5px;
    border: 1px solid var(--grayish-blue--);
    font-weight: 600;
    
}
.claim__button {
    background: var(--green--);
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
    margin: 5px 17px;
}
.terms__box {
    text-align: center;
    font-size: 9px;
    margin-top: 10px;
}

@media(max-width: 768px) {
    body {
        background: var(--red--) url(./images/bg-intro-mobile.png) no-repeat;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
    }
    .learn__box {
        padding-bottom: 20px;
        padding-right: 34px;
        text-align: center;
        padding-left: 37px;
        padding-top: 58px;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }