@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
--dark-blue: hsl(233, 47%, 7%);
 --dark-desaturated: hsl(244, 38%, 16%);
--soft-voilet: hsla(277, 71%, 64%, 0.664);
--white: hsl(0, 0%, 100%);
--transparent-white: hsla(0, 0%, 100%, 0.75);
--slight-transparent: hsla(0, 0%, 100%, 0.6);
}
body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;

}
.container {
    max-width: 1020px;
    margin: 0 auto;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--dark-desaturated);
    border: 15px;
    margin: 2rem;
}
.image_component img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image_component {
    position: relative;
}
.image_component::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: var(--soft-voilet);
}
.text_component {
    padding: 13%;
}
.title {
    color: var(--white);
    padding-bottom: 22px;
    font-weight: 700;
}
.title span {
    color: var(--soft-voilet);
}
.subtitle {
    color: var(--slight-transparent);
    line-height: 1.8;
}
.stat-box {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    padding-top: 60px;
}
.stat-box p.num {
    color: var(--white);
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 7px;
}
.stat-box p {
    color: var(--transparent-white);
}
@media (max-width: 768px) and (min-width: 426px) {
    body {
        font-size: 12px;
    }
    .text_component {
        padding: 12%;
    }
    .stat-box p.num {
        font-size: 17px;
    }

}
@media (max-width: 425px) {
    body {
        text-align: center;
    }
    .wrapper {
        grid-template-columns: 1fr;
    }
    .image_component {
        order: -1;
    }
    .text_component {
        padding: 12% 8%;
    }
    .stat-box {
        flex-direction: column;
        padding-top: 30px;
    }
    .stat-box div {
        margin-top: 20px;
    }
    .title {
        font-size: 22px;
        line-height: 1.5;
    }
}
.attribution { font-size: 11px; text-align: center; color: var(--white); }
.attribution a { color: var(--white); }